.callout {

  &.is-collapsed {
    & > .callout-title > .fold-callout-icon {
      transform: rotateZ(90deg);
    }
  }

  &[data-callout="quote"] {
    --color: var(--dark);
    --border: var(--gray);
    --bg: #8d8d8d1e;
  }

  &[data-callout="poem"] {
    --color: var(--dark);
    --border: var(--gray);
    --bg: #8d8d8d1e;
    text-align: center;
  }

  &[data-callout="en"],
  &[data-callout="en0"] {
    --color: var(--darkgray);
    --border: var(--gray);
    --bg: #8d8d8d1e;
    direction: ltr;
  }

  &[data-callout="empty"],
  &[data-callout="empty0"] {
    --color: var(--darkgray);
    --border: var(--gray);
    --bg: transparent;
  }

  &[data-callout="gray"],
  &[data-callout="gray0"] {
    --color: var(--darkgray);
    --border: var(--gray);
    --bg: #8d8d8d1e;
  }

  &[data-callout="yellow"],
  &[data-callout="yellow0"] {
    --color: #e2941e;
    --border: #e2b11f5e;
    --bg: #ffc8220a;
  }

  &[data-callout="orange"],
  &[data-callout="orange0"] {
    --color: #e7842e;
    --border: #e68d3f56;
    --bg: #db89420c;
  }  
  
  &[data-callout="red"],
  &[data-callout="red0"] {
    --color: #f55c4b;
    --border: #ff776856;
    --bg: #ff85770e;
  }

  &[data-callout="blue"],
  &[data-callout="blue0"] {
    --color: #468ee5;
    --border: #468ee565;
    --bg: #468ee50c;
  }

  &[data-callout="green"],
  &[data-callout="green0"] {
    --color: #21ad1e;
    --border: #0281003b;
    --bg: #1a8d1809;
  }  

  &[data-callout="purple"],
  &[data-callout="purple0"] {
    --color: #805de7;
    --border: #805de777;
    --bg: #805de709;
  } 
  
   &[data-callout="brown"],
   &[data-callout="brown0"] {
    --color: #b38247;
    --border: #b382476b;
    --bg: #b382470a;
  }  
}

// Hide icon
.callout.empty .callout-icon,
.callout.gray .callout-icon,
.callout.yellow .callout-icon,
.callout.orange .callout-icon,
.callout.blue .callout-icon,
.callout.green .callout-icon,
.callout.purple .callout-icon,
.callout.brown .callout-icon,
.callout.red .callout-icon,
.callout.poem .callout-icon,
.callout.en .callout-icon {
  display: none;
}

//Hide title
.callout.empty0 .callout-title,
.callout.gray0 .callout-title,
.callout.yellow0 .callout-title,
.callout.orange0 .callout-title,
.callout.blue0 .callout-title,
.callout.green0 .callout-title,
.callout.purple0 .callout-title,
.callout.brown0 .callout-title,
.callout.red0 .callout-title,
.callout.poem .callout-title,
.callout.en0 .callout-title {
  display: none;
}

// pt

.callout.empty0,
.callout.gray0,
.callout.yellow0,
.callout.orange0,
.callout.blue0,
.callout.green0 ,
.callout.purple0,
.callout.brown0,
.callout.red0,
.callout.poem,
.callout.en0 {

  > .callout-content{
    padding-top: 1rem;
  }
}



// bold title
.callout-title>.callout-title-inner>p {
  font-weight: 600;
}