// beforeBody
    // navbar
    header {
        position: absolute;
        top: 1.8rem;
        left: -0.45rem;
        width: 100%;
        // z-index: 1000;
        margin: 0;
        box-sizing: border-box;
    }

    header>div {
        width: 100%;
        max-width: 850px;
        margin: 0 auto;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 1.2rem;
        border-radius: 0.5rem;
        background: var(--on-background);
        border: solid 1px var(--lightgray);

    }

    body::before {
        content: "";
        pointer-events: none;
        opacity: var(--grain-opacity);
        z-index: -99;
        background-image: url(/static/grain.webp);
        background-repeat: repeat;
        position: fixed;
        inset: 0;
    }

    body {
        padding-top: 80px;
        background: var(--background);
    }

    @media (max-width: 1510px) {
        header {
            padding: 0rem 0.3rem;
            top: 1rem;
            left: 0;
            
        }
    }

    // page title | avatar | dot
        .page-title {
            position: relative;
            border-bottom: none;
            font-size: 1.3rem;
            font-family: var(--headerFont);
        
            a:first-child {
                font-weight: 900;
                color: var(--dark) !important;

            &:hover {
                color: var(--secondary) !important;
            }

            // dot
            // &::after {
            //     content: ".";
            //     display: inline-block;
            //     font-size: 3rem;
            //     margin-right: 0.18rem;
            //     color: var(--secondary);
            //     position: relative;
            //     top: 0.1em;
            // }
            &::before {
                content: "";
                display: inline-block;
                width: 1.8em;
                height: 1.8em;
                margin-left: 0.3rem;
                vertical-align: middle;
                background-image: url("/static/avatar.webp");
                background-size: cover;
                background-repeat: no-repeat;
                background-color: var(--secondary);
                border-radius: 100%;
            }
            &:hover::before {
                background-color: var(--tertiary);
            }
            }
        }

        @media (max-width: 1510px) {
            .page-title {
                font-size: 1.2rem;
                margin-right: 0;

                // a:first-child {
                // &::before {
                //     display: inline-block;
                //     width: 1.1em;
                //     height: 1.1em;
                //     margin-left: 0.1em;
                // }
                // }
            }
        }

        // search
        @media (max-width: 1510px) {
            .search>.search-button>p {      
                display: none;
            }
        }

        .search>.search-button {
            padding: 0;
        }

        .search>.search-button>p {
            padding-left: 0.6rem;
        }


        // darkmode
        .darkmode {
            vertical-align: middle;
            }

// pageBody
    //page top
    .page-top {
        background: var(--on-background);
        border: solid var(--lightgray);
        border-width: 1px;
        border-radius: 0.5rem;
        margin-top: 4rem !important;
        padding: 1.5rem;
        box-sizing: border-box;
    }

    @media (max-width: 800px) {
        .page>#quartz-body .page-top {
            margin-top: 1rem !important;
            padding: 1rem !important;
        }
    }


    // page header
        .page-header {
            margin-top: 0rem !important;
        }

    // article
        .article-title {
            margin: 1rem 0;
        }

        @media not (min-width: 1200px) {
            .page>#quartz-body {
                padding: 0 0.3rem;
            }
        }

    // footnotes
    .footnotes {
        border-top: none;
        margin: 3rem 0;
        background-color: transparent;
    }

    h2#footnote-label{
        visibility: hidden;
    }
    
    h2#footnote-label::after{
        content: "پانوشت‌ها";
        visibility: visible;
        display: block;
        direction: rtl !important;
        font-size: 1.4rem;
        border-bottom: 1px solid var(--lightgray);     
        color: var(--darkgray);             
    }

// afterBody
    // backlinks & tag list
    .flex-component:has(> div > div.backlinks, > div > ul.tags) {
        border: solid 1px var(--lightgray);
        border-radius: 0.5rem;
        padding: 1.5rem;
        box-sizing: border-box;
        background: var(--on-background);
        margin-top: 3rem;
    }

    //اضافه کردن بوردر بین بک‌ لینک و تگ وقتی هر دو وجود دارن
    .flex-component:has(> div > div.backlinks):has(> div > ul.tags) > div:first-child {
    border-bottom: 1px solid var(--lightgray);
}

    // backlinks
        .backlinks{

        }

        .backlinks>h3 {
            color: var(--darkgray);
            font-size: 1.4rem;
            // border-bottom: 1px solid var(--lightgray);      
        }

        ul.overflow:after,ol.overflow:after {
            display: none;
        }

    // tags
    .tags {
        margin-right: -2.5rem;
    }

    // div:has(> ul.tags)::before {
    //     content: "تگ‌ها";
    //     visibility: visible;
    //     display: block;
    //     direction: rtl !important;
    //     font-family: var(--headerFont);
    //     font-weight: bold;
    //     font-size: 1.4rem;
    //     color: var(--darkgray);       
    // }

    // Comments
        .giscus {
            border: solid 1px var(--lightgray);
            border-radius: 0.5rem;
            padding: 1.5rem;
            box-sizing: border-box;
            background: var(--on-background);
            margin-top: 3rem;
        }

    // standalone-comments
    .post-comment {
        border: solid 1px var(--lightgray);
        border-radius: 0.5rem;
        padding: 1.5rem;
        box-sizing: border-box;
        background: var(--on-background);
        margin-top: 3rem;
    }


// sidebar

    .sidebar {
        padding: 4rem 2rem 2rem !important;
    }

    @media (max-width: 800px) {
        .sidebar {
            padding: 0 !important;
        }
    }

    @media not (min-width: 1200px) {
        .page>#quartz-body .sidebar.right {
            flex-direction: column;
        }
    }

    // Table of Contents
    .toc {
        border-radius: 5px;
        border: 1px solid var(--lightgray);
        background: var(--on-background);
        padding: 12px; 
        font-size: 0.9rem;

    }

    .toc-header h3 {
        font-size: 1rem;
        margin-top: 0;
    }
    
    .depth-1 {
        border-right: solid 1px var(--lightgray);
        padding-right: 1rem;
    }

    @media (max-width: 1510px) {
        .mobile-only.toc {
            display: block;
        }
    }

    // Explorer
    @media (min-width: 800px) {
        .explorer {
            border-radius: 5px;
            border: 1px solid var(--lightgray);
            background: var(--on-background);
            padding: 12px; 
            font-size: 0.9rem;
        }
    }

    @media (max-width: 800px) {
        .explorer {
            direction: ltr;
        }
    }
    
    // Graph view
    .graph-outer {
        background: var(--on-background);
        margin: 0 !important;
    }
    
    .graph > h3 {
        display: none;
    }

    @media (max-width: 800px) {
        .graph {
            margin-top: 3rem !important;
        }
    }

    // recent notes
    .recent-notes {
        border-radius: 5px;
        border: 1px solid var(--lightgray);
        background: var(--on-background);
        padding: 12px; 
    }

    .recent-notes>ul.recent-ul {
        margin-right: -2.5rem;
    }

    .recent-notes .desc h3 {
        font-size: 1rem;
    }
    
    .recent-notes .section {
        font-size: 1rem;
    }

    li.recent-li > div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 0.5rem;
    }

    .recent-notes>ul.recent-ul>li {
        margin: 0;
    }

    .recent-notes>ul.recent-ul>li .section>.meta {
        white-space: nowrap;
    }

// Footer

    footer {
        border: solid 1px var(--lightgray);
        border-radius: 0.5rem;
        padding: 0.3rem 1rem 0;
        box-sizing: border-box;
        background: var(--on-background);
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        opacity: 0.9;

        p {
            font-size: 1rem;
        }

        ul {
            justify-content: center;
            gap: 0.5em;
        }
    }

// tags or folders page
div.page-listing ul.section-ul {
    margin-right: -2.5rem;
}



// footer icon

//     %icon-base {
//         content: '';
//         width: 1.1em;
//         height: 1.1em;
//         display: inline-block;
//         vertical-align: middle;
//         margin-inline-end: 0.2em;
//         background-size: contain;
//         background-repeat: no-repeat;
//     }


//   footer a {  
//     &[href*="twitter.com"]::before,
//     &[href*="x.com"]::before {
//       @extend %icon-base;
//       background-color: var(--secondary);
//       -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 448 514'%3E%3Cpath d='M64 32C28.7 32 0 60.7 0 96v320c0 35.3 28.7 64 64 64h320c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64zm297.1 84L257.3 234.6L379.4 396h-95.6L209 298.1L143.3 396H75.8l111-146.9L69.7 116h98l67.7 89.5l78.2-89.5zm-37.8 251.6L153.4 142.9h-28.3l171.8 224.7h26.3z'/%3E%3C/svg%3E");
//       -webkit-mask-repeat: no-repeat;
//       -webkit-mask-size: contain;
//       margin-inline-start: 0.2em;
//       width: 1.4em;
//       height: 1.4em;
//     }

//     &[href*="t.me"]::before {
//       @extend %icon-base;
//       background-color: var(--secondary);
//       -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%220%200%2050%2050%22%3E%3Cpath%20d%3D%22M25%2C2c12.703%2C0%2C23%2C10.297%2C23%2C23S37.703%2C48%2C25%2C48S2%2C37.703%2C2%2C25S12.297%2C2%2C25%2C2z%20M32.934%2C34.375c0.423-1.298%2C2.405-14.234%2C2.65-16.783c0.074-0.772-0.17-1.285-0.648-1.514c-0.578-0.278-1.434-0.139-2.427%2C0.219c-1.362%2C0.491-18.774%2C7.884-19.78%2C8.312c-0.954%2C0.405-1.856%2C0.847-1.856%2C1.487c0%2C0.45%2C0.267%2C0.703%2C1.003%2C0.966c0.766%2C0.273%2C2.695%2C0.858%2C3.834%2C1.172c1.097%2C0.303%2C2.346%2C0.04%2C3.046-0.395c0.742-0.461%2C9.305-6.191%2C9.92-6.693c0.614-0.502%2C1.104%2C0.141%2C0.602%2C0.644c-0.502%2C0.502-6.38%2C6.207-7.155%2C6.997c-0.941%2C0.959-0.273%2C1.953%2C0.358%2C2.351c0.721%2C0.454%2C5.906%2C3.932%2C6.687%2C4.49c0.781%2C0.558%2C1.573%2C0.811%2C2.298%2C0.811C32.191%2C36.439%2C32.573%2C35.484%2C32.934%2C34.375z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
//       -webkit-mask-repeat: no-repeat;
//       -webkit-mask-size: contain;
//       margin-inline-start: 0.2em;
//       width: 1.4em;
//       height: 1.4em;
//     }

//     &[href*="github.com"]::before {
//       @extend %icon-base;
//       background-color: var(--secondary);
//       -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath d='M14 2A10 10 0 0 0 2 14c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33s1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 14A10 10 0 0 0 14 2'/%3E%3C/svg%3E");
//       -webkit-mask-repeat: no-repeat;
//       -webkit-mask-size: contain;
//       width: 1.4em;
//       height: 1.4em;
//     }
//   }