@use "./variables.scss" as *;
@use "./_card-view.scss";
@use "./_ui.scss";
@use "./my-callouts.scss";

// ================ 01. THEME VARIABLES ================

:root {
    --bodyFont: "DanaVF" !important;
    --headerFont: "DanaVF" !important;
    --codeFont: "DanaVF" !important;
    --background: #efdfcd;
    --on-background: #f9e8d6;
    --secondary-shadow: #ee5a2512;
    --grain-opacity: .3;
}

[saved-theme="dark"] {
    --background: #161618;
    --on-background: #1f1f22;
    --secondary-shadow: #ee5a2512;
    --grain-opacity: 0.04;
}

// ================ 02. FONTS ================

@font-face { 
    font-family: 'DanaVF';
    src: url('/static/fonts/DanaVF.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

// ================ 03. TYPOGRAPHY ================

body {
    font-size: 1.1em;
}

p, li {
    line-height: 1.9rem;
    font-weight: 400;
} 

sup {
    vertical-align: middle; //اگه توی متن از پانوشت استفاده شده باشه باعث میشه فاصله بین خطوط به هم نریزه
}

h1{
    font-size: 1.7rem;
    font-weight: 800;
}

h2 {
    font-size: 1.55rem;
    font-weight: 800;
    margin-top: 1rem;
    margin-bottom: -0.2rem;
    border-bottom: 1px solid var(--lightgray);
    padding-bottom: 0.2em;
}

h3 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: -0.2rem;
}

h4,
h5,
h6 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: -0.2rem;
}

.footnotes > ol > li {
    line-height: 4rem;
}

button {
    font-family: var(--bodyFont);
}


// ================ 04. IMAGES ================

img {
    display: block;
    margin: 0 auto !important; // وسطچین کردن تصاویر
}

// ================ 05. BLOCKQUOTE ================

blockquote.transclude > :is(h1, h2, h3, h4, h5, h6):nth-child(1) {
    display: none;
}

blockquote { // انتقال بوردر رنگی به سمت راست تا مناسب متن فارسی باشه
    border-left: none;
    border-right: 3px solid var(--secondary);
    padding-right: 1rem;
}

// ================ 06. LINKS ================

a.internal {
    background-color: transparent;
}

a.external .external-icon {
    transform: scaleX(-1);
}

// ================ 07. CODE BLOCKS ================

pre {
    background: #afafaf1a;
}

pre>code {
    overflow-x: auto;
}

code {
    direction: ltr !important;
}

figure[data-rehype-pretty-code-figure] {
    direction: ltr;
}

// ================ 08. MERMAID ================

.mermaid {
    direction: rtl !important;
}

pre:has(>code.mermaid) {
    // background-color: transparent;
    .clipboard-button {
        display: none;
    }
    svg {
        margin: auto;
    }
}

.nodeLabel {
    font-family: var(--bodyFont);
}

/* همه شاخه‌ها */
.mindmap-node[class*="section-"]:not(.section-root) path,
.mindmap-node[class*="section-"]:not(.section-root) rect,
.mindmap-node[class*="section-"]:not(.section-root) circle {
    fill: var(--lightgray) !important;
    stroke: var(--gray) !important;
}

.mindmap-node[class*="section-"]:not(.section-root) text {
    fill: var(--darkgray) !important;
}

/* خطوط اتصال */
.mindmap-edges .edge {
    stroke: var(--gray) !important;
}

/* مرکز */
.section-root circle,
.section-root path {
    fill: var(--secondary) !important;
}

.section-root text {
    fill: var(--light) !important;
}

code.mermaid svg path.edge {
    stroke-width: 4px !important;
}
